<div class="example-container mat-elevation-z8">
  <h2>Detalhes</h2>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card" *ngIf="!isLoadingResults">
    <mat-card-header>
      <mat-card-title><h2>{{cases.name}}</h2></mat-card-title>
      <mat-card-subtitle>{{cases.age}} anos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Sexo:</dt>
        <dd>{{cases.gender}}</dd>
        <dt>Endereço:</dt>
        <dd>{{cases.address}}</dd>
        <dt>Cidade:</dt>
        <dd>{{cases.city}}</dd>
        <dt>País:</dt>
        <dd>{{cases.country}}</dd>
        <dt>Status:</dt>
        <dd>{{cases.status}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions >
      <a mat-flat-button color="primary" [routerLink]="['/edit-cases', cases.id]"><mat-icon>edit</mat-icon> Cases</a>
      <a mat-flat-button color="warn" (click)="deleteCases(cases.id)"><mat-icon>delete</mat-icon> Cases</a>
    </mat-card-actions>
  </mat-card>
</div>
